<html>
    <head>
    </head>
    <body style="width: 100%; height: 100%; padding: 0; margin: 0">

        <iframe src="http://svandycke.fr/Symfony_Doc/Idees2genies_Doc_APIs.pdf" style="width: 100%; height: 100%"></iframe>

    </body>
</html>

